h1{color: red;}
p{background:aqua;}

h2{color: green;}

/* 단위	                                               Example
HEX  코드 단위 (Hexadecimal Colors)	                    #000000
RGB (Red, Green, Blue)	                                rgb(255, 255, 0)
RGBA (Red, Green, Blue, Alpha/투명도)	                rgba(255, 255, 0, 1)
HSL (Hue/색상, Saturation/채도, Lightness/명도)         hsl(0, 100%, 25%)
HSLA (Hue, Saturation, Lightness, Alpha)        	   hsla(60, 100%, 50%, 1) */